.content {
    /* flex: 1; */
    height: calc(100% - 56px);
    background-color: #EEEFF1;
    display: flex;
    flex-direction: column;
    padding: 24px;
    box-sizing: border-box;
}

.content-header {
    display: flex;
    margin-bottom: 16px;
    align-items: center;
    justify-content: space-between;
}

.content-header__left {
    font-family: notosans-bold;
    font-size: 24px;
}

.content-table {
    height: calc(100%  - 36px - 16px);
    /* background-color: #FFFFFF; */
    background-color: #fff;

    display: flex;
    flex-direction: column;
    /* padding-top: 12px; */
}

.table-header {
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 12px 16px 12px 16px;
}

.btn-refresh {
    width: 24px;
    height: 24px;
    border: none;
    background-color: #FFFFFF;
    margin-right: 20px;
    margin-left: 12px;
    cursor: pointer;
    
    /* background-image: url(../../assets/icon/refresh.png);
    background-repeat: no-repeat;
    margin-left: 12px;
    background-size: 36px 36px;
    background-position: center center; */
}

.icon-loading {
    background-position: -1096px -88px;
    
    
}

.table-main {
    flex: 1;
    /* height: calc(100% - 110px); */
    font-family: notosans-regular;
    font-size: 14px;
    overflow-y: auto;
    overflow-x: auto;

    /* box-sizing: border-box; */
}

.table-footer {
    background-color: #fff;
    height: 56px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.table-footer__right {
    display: flex;
    align-items: center;
}

.records-page {
    height: 36px;
    margin-right: 16px;
    cursor: pointer;
}

.input-records {
    padding-left: 12px;
    /* padding-right: 8px; */
}

.table-footer__right .btn-title {
    height: 24px;
    width: 50px;
    cursor: pointer;
    border: unset;
}

.title-pre {
    margin-right: 16px;
}