    
    /* Chung */
    .dialog-container {
    
    /* width: 100%;
    height: 100vh; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3738394d;
    /* opacity: 0.4; */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    display: none;
}

.dialog-wrapper {
    /* display: none; */
    min-width: 400px;
    min-height: 173px;
    background-color: #fff;
    padding: 24px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
}

.dialog-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    /* z-index: 100; */
}

.dialog-header__title {
    font-family: notosans-bold;
    font-size: 20px;
}

.dialog-header__icon {
    background-position: -146px -146px;
    cursor: pointer;
    border: unset;
}

.dialog-body {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.btn-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* dialog delete */

.icon--delete {
    width: 36px;
    height: 36px;
    background-position: -598px -463px;
}

.dialog-delete__footer {
    display: flex;
    align-items: center;
    justify-content: right;
    column-gap: 8px;
}


/* dialog wraning */
.icon--warning {
    background-position: -752px -462px;
    width: 36px;
    height: 36px;
}

.dialog-wraning__footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* dialog save */

.icon--save  {
    width: 36px;
    height: 36px;
    background-position: -832px -462px;
}

.dialog-save__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dialog-footer__right {
    display: flex;
    align-items: center;
    justify-content: right;
    column-gap: 8px;
}