
table {
    width: 100%;
    border-collapse: collapse;
    z-index: 1;
}
/* tbody {
    display: contents;
} */
/* tr {
    position: relative;
} */

table tr:hover td,
table tr:hover .table-button{
    background-color: var(--table-hover-color);
    
    cursor: pointer;
}

th, td {
    border-right: 1px solid var(--table-border-color);
    border-bottom: 1px solid var(--table-border-color);
    height: 48px;
    padding: 0 16px;
    
}

td {
    background-color: var(--secondary-color);

}

th {
    background-color: #d6d6d6;
    position: sticky;
    top: 0;
    z-index: 2;
}

th:first-child {
    /* border-left: none; */
    left: 0;
    right: unset;
    z-index: 3;
    border-right: 1px solid var(--table-border-color);
}

/* th:first-child+th {
    border-left: unset;
} */

th:last-child {
    /* position: sticky; */
    border-right: unset;
    right: 0;
    /* border-left: 1px solid #E0E0E0; */
}

th input {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

td input {

    width: 16px;
    height: 16px;
    cursor: pointer;
}

 td:first-child {
    position: sticky;
    border-left: none;
    left: 0;
    border-right: 1px solid var(--table-border-color);
    /* z-index: 30; */
}

td:last-child {
    position: sticky;
    right: 0;
    border-right: unset;
    color: #0075c0;
    /* border-left: 1px solid #E0E0E0; */
    /* background-color: #fff; */
}

/* td+td:last-child {
    border-right: unset;
} */

.td-last {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px; 
}

.table-button{
    background-color: var(--secondary-color);
    border: none;
    color: #0075c0;
    cursor: pointer;
    position: relative;
}

.table-button:focus {
    border: 1px solid #0075c0;
}

.table-button:hover {
    /* background-color: #ccc; */
}

/* Dropdown  hiển thị danh sách các chức năng sửa xóa nhân bản*/
/* .dropdown-menu {
    position: absolute;
    z-index: 99;
  
    background-color: #fff;
    font-weight: 400;
    border: 1px solid #ccc;
    min-width: 120px;
    text-align: left;
  }
  .dropdown-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .dropdown-item {
    display: block;
    padding: 4px 0 4px 8px;
  }
  .dropdown-item:hover {
    color: #50B83C;
    background-color: #ccc;
  } */


  

/* .function-button {
    position: relative;
}

.menu-function {
    position: absolute;
    padding: 8px;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 100;
    min-width: 120px;
    left: -88px;
    
}

.function-item {
    height: 36px;
    padding-left: 8px;
    display: flex;
    align-items: center;
} */



